* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(1, 66, 44);
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

h2 {
  font-size: 2rem;
}

#main {
  display: flex;
  padding: 0;
  justify-content: center;
  gap: 10%;
}

#leftside,
#rightside {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0 1rem;
  margin-top: 2rem;
}

#topic-scores {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#refresh {
  height: 2rem;
}

#recentscore,
#addscore {
  margin: 0;
}

#scoresList {
  border: 2px solid black;
  height: 20rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
  width: 65%;
  align-items: flex-end;
}

input {
  border: 2px solid black;
  height: 2rem;
  width: 100%;
  padding-left: 0.5rem;
}

#submitbtn,
#refresh {
  border: 2px solid black;
  box-shadow: 2px 2px 1px 0 black;
  background-color: white;
  padding: 0.2rem;
  width: 30%;
}

#submitbtn {
  align-self: flex-end;
  height: 2rem;
  width: 30%;
}

#submitbtn:hover,
#refresh:hover {
  transform: scale(1.1);
}

#submitbtn:active {
  background-color: aquamarine;
}

#scoresul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.listItem {
  list-style: none;
  height: 2rem;
  width: 90%;
  padding: 0 1rem;
  line-height: 2rem;
}

.listItem:hover {
  transform: scale(1.3);
  text-align: center;
}

.listItem:nth-child(odd) {
  background-color: rgb(241, 241, 241);
}

.listItem:nth-child(even) {
  background-color: aquamarine;
}

.clicked {
  background-color: aquamarine !important;
}

input::placeholder {
  margin-left: 1rem;
  color: rgb(23, 97, 72);
}

input:hover {
  transform: scale(1.1);
}
